<center><h1>About the Owner </h1>
  require 'date'
<p>Todays Date is <%= Date.today %>
  <p>Tommorow is <%= Date.today + 1 %>
  
<p>This is all about me...  my name is <%= @Home.name %> </p>
  
<p>My birthdate is <%= @Home.birthdate %> </p>
  <p>I am <%= @Home.yrsold %> years old! </p>
  
  <p>We are this many days into the week: <%= Date.today.wday  %>. Only <%= 7 - Date.today.wday %> to go! <p>

  <p>By the way, today is <%= Date::DAYNAMES[Date.today.wday - 1] %>.<p>
